.contact{
    padding: 20px;
    display: flex;
}

.contact-form{
    margin-left:30px; 
}

.contact-heading{
    padding-top: 18px;
    padding-left: 18px;
    text-decoration: underline;
    color: white;
}

.input-name, .input-email, .input-subject, .input-message{
    padding: 10px;
    width: 500px;
    margin-bottom: 32px;
    border-radius: 5px;
    outline: none;
    box-shadow: none;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #80808082;
    color: white;
}

.form-submit{
    padding: 10px 25px;
    background:white;
    color: black;
    border: 0;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}