.image-container {
    padding: 15px 15px 60px 15px;
    width: 48%;
    margin: 20px;
    height: 400px;
    cursor: pointer;

}

.image-container img {
    width: 100%;
    height: 100%;
}

.image-container .caption{
    background: white;
    color: black;
    text-align: center;
}